matplotlib>=3.1.0
numpy>=1.17.0
nltk>=3.4.4
pandas>=0.25.0
scikit-learn>=0.21.2
spacy>=2.1.6
gensim>=3.8.0
stop-words>=2018.7.23
pyemd>=0.5.1
python_dotenv>=0.19.0
openpyxl==3.0.10
hdx-python-api==5.9.3 